@font-face {
  font-family: "colaborate-regularregular";
  src: url("font/colaborate_regular_macroman/ColabReg-webfont.eot");
  src: url("font/colaborate_regular_macroman/ColabReg-webfont.eot?#iefix")
      format("embedded-opentype"),
    url("font/colaborate_regular_macroman/ColabReg-webfont.woff") format("woff"),
    url("font/colaborate_regular_macroman/ColabReg-webfont.ttf")
      format("truetype"),
    url("font/colaborate_regular_macroman/ColabReg-webfont.svg#colaborate-regularregular")
      format("svg");
  font-weight: normal;
  font-style: normal;
}

* {
  font-family: "colaborate-regularregular", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  width: 96%;
  margin: auto;
}
a,
a:hover,
a:visited {
  text-decoration: none;
}

img {
  border: 0px;
}


ul{
  list-style-type: none;
}

@media screen and (max-width: 1024px){
  /* Règle spécifique pour écran de petite résolution, genre smartphone et tablette */

  p{
    background-color: beige;
  }
}